.bitlinker-link {
  cursor: pointer;
  text-decoration: underline !important;
  position: relative;
}

.bitlinker-link:hover {
  text-decoration: underline !important;
}

.bitlinker-link .bitlinker-tooltip {
	font-family: 'arial';
    background-color: black;
    opacity: 0;
    color: #d3d3d3;
    text-align: center;
    border-radius: 6px;
    padding: 4px 10px;
    position: absolute;
    z-index: 9999;
    top: -4px;
    left: calc(100% + 10px);
    transition: opacity 0.7s;
}

.bitlinker-link .bitlinker-tooltip::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}
